{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    Create Movie
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'PeliculasDeCulto/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-12 ">
                <form action="{% url 'create_movie' %}" method= "POST">
                    {% csrf_token %}

                    {% for field in form %}
                        <div class="mb-3 {% if field.errors %}invalid{% endif %}" >
                            {% if field.errors %}<div class="alert alert-danger"> {{field.errors}}</div>{% endif %}
                           
                            <label class="form-label" for="{{field.id_for_label}}">{{field.label}}</label>
                            {{field}}
                        </div>
                    {% endfor %} 
                    <button class="btn btn-primary" type="submit">Save</button>

                </form>
            </div>
            
        </div>
    </div>

{% endblock content %}

