{% extends 'layout.html' %}

{% load static %}

{% block page_title %}
    {{movie.title}}
{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'PeliculasDeCulto/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container mt-3">
        <div class="row">
            <div class="col-4 ">
                <img class="img-fluid rounded-start" src="{% static 'PeliculasDeCulto/img/'|add:movie.imageUrl %}" alt="movie.title">           
            </div>
            <div class="col-8 ">
                <h1 class="h3">{{movie.title}}</h1>
                <p>{{movie.description}}</p>
                <p>{{movie.date}}</p>
            </div>
        </div>
    </div>

{% endblock content %}

