{% load static %}
<div class="card mb-3">
    <div class="row">
        <div class="col-4">
            <img class="img-fluid rounded-start" src="{% static 'PeliculasDeCulto/img/'|add:movie.imageUrl %}" alt="movie.title">
        </div>
        <div class="col-8">
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'movie_details' movie.slug %}">
                        {{ movie.title }}
                    </a>
                    </h5>
                <p class="card-text">{{movie.description}}</p>
                <span>
                    
                </span>
                <p>{{movie.date}}</p>
            </div>
        </div>
    </div>
</div>